.auth-wrapper,
.auth-container,
.reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  height: 100vh;
}

.auth-container {
  width: 700px;
  height: 700px;
  border-radius: 24px;
  background-color: var(--card-bg-color);
}

.auth-container label {
  position: absolute;
  left: -9999px;
}

.auth-container input {
  width: 500px;
  padding: 0.75em;
  background-color: var(--input-bg-color);
}

.auth-container button {
  width: 525px;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
}

.auth-container button[type='submit']:hover {
  background-color: var(--button-bg-hover-color);
  transition: 200ms ease-in-out;
}

.auth-container input,
.auth-container button {
  margin-bottom: 12px;
  padding: 0.75em;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.auth-container .toggle-btn {
  margin-bottom: 128px;
  background-color: transparent;
  text-decoration-line: underline;
}

.auth-container .toggle-btn:hover {
  color: var(--hyperlink-color);
  transition: 200ms ease-in-out;
}

.toggle-btn.login {
  margin-bottom: 164px;
}

.auth-container span {
  margin-bottom: 12px;
}

.auth-container .logo {
  width: 350px;
  margin: 64px 0 12px 0;
  padding: 2em;
  transition: transform 700ms cubic-bezier(0.52, 1.12, 0, 0.82),
    margin 700ms cubic-bezier(0.54, -0.01, 0.21, 0.58);
  transform: scale(1.2);
}

.auth-container .logo-login {
  margin: 128px 0 24px 0;
  transform: scale(1.5);
}

@media (max-width: 767px) {
  .auth-wrapper {
    width: 100vw;
    background-color: var(--card-bg-color);
  }

  .auth-container {
    width: 100%;
    height: 550px;
  }

  .auth-container input {
    width: 300px;
    margin: 0 0 12px 0;
  }

  .auth-container button {
    width: 320px;
    margin: 0 0 12px 0;
  }

  .auth-container input,
  .auth-container button {
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  }

  .auth-container .toggle-btn {
    width: 100%;
    margin-bottom: 164px;
  }

  .auth-container .toggle-btn.login {
    margin-bottom: 164px;
  }

  .auth-container .logo {
    width: 250px;
    margin: 45px 0 auto 0;
    transform: scale(1.1);
    transition: transform 800ms cubic-bezier(0.52, 1.12, 0, 0.82),
      margin 800ms cubic-bezier(0.45, 0.16, 0.34, 0.59);
  }

  .auth-container .logo-login {
    margin-top: 100px;
    transform: scale(1.3);
  }

  .auth-container .login-form {
    margin-top: 4px;
  }

  .auth-container .reg-form {
    margin-top: -8px;
  }
}
