.rating-container {
  max-width: 75%;
  margin: 0 auto;
}

.rating-container .wrapper {
  margin: -12px 0 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating {
  width: 350px;
  height: 575px;
  margin: 18px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--card-bg-color);
  transition: transform 300ms ease-in-out;
}

.rating:hover {
  transform: scale(1.025);
}

.rating .image {
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.image .content {
  width: 300px;
  height: 480px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: transparent;
  background-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  overflow-y: auto;
  transition: 0.3s;
}

.image .content:hover {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.8);
}

.rating .info {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.rating h3 {
  width: 275px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.rating h3,
.rating span {
  font-weight: 400;
}

.rating span {
  color: #aaa;
}

.rating .delete {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.rating .delete button {
  margin: 12px;
  padding: 4px;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  background-color: rgba(22, 20, 19, 0.75);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.75));
}

.rating .delete button:hover {
  background-color: #790606;
  transition: background-color 200ms ease-in-out;
}
