.modal-wrapper {
  width: 75%;
  top: 20%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
}

.modal-wrapper .create-modal {
  width: 600px;
  height: 600px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--card-bg-color);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.75);
}

.create-modal .close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.create-modal button {
  cursor: pointer;
}

.create-modal .close button {
  margin: 16px;
  padding: 4px;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  background-color: transparent;
}

.create-modal h2 {
  font-size: 28px;
  margin-top: 0.75em;
}

.create-modal .create-form {
  width: 70%;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.create-form div {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form div span {
  align-self: flex-end;
  margin-top: 0.25em;
}

.create-form label {
  align-self: flex-start;
  text-align: left;
  font-size: 20px !important;
  margin-bottom: 0.25em;
}

.create-form .slider {
  appearance: none;
  -webkit-appearance: none;
  width: 95%;
  height: 25px;
  background-image: linear-gradient(
    right var(--primary-color),
    var(--input-bg-color)
  );
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.create-form .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: var(--primary-color);
  cursor: pointer;
}

.create-form .slider::-webkit-slider-thumb:hover,
.create-form .slider::-webkit-slider-thumb:focus {
  -webkit-appearance: none;
  appearance: none;
  border: 2px rgba(255, 255, 255, 0.25) solid;
}

.create-form .slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background: var(--primary-color);
  cursor: pointer;
}

.create-form .slider::-moz-range-thumb:hover {
  background: hsl(260, 75%, 40%);
  transition: 300ms ease-in-out;
}

.create-form input,
.create-form textarea {
  padding: 0.5em;
  background-color: var(--input-bg-color);
}

.create-form input,
.create-form textarea,
.create-form label {
  width: 95%;
}

.create-form input,
.create-form textarea,
.create-form button,
.create-form label {
  border-radius: 10px;
  border: none;
  font-size: 18px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.create-form textarea {
  height: 200px;
}

.create-form button[type='submit'] {
  width: 50%;
  padding: 0.5em;
  align-self: flex-end;
  margin: auto 0 1em 0;
  background-color: var(--primary-color);
}

.create-form button[type='submit']:hover {
  background-color: var(--button-bg-hover-color);
  transition: background-color 200ms ease-in-out;
}

.overlay {
  width: 100%;
  height: 100vh;
  top: 64px;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.75);
  transition: backdrop-filter 400ms ease-in-out;
}

@media (max-width: 767px) {
  .modal-wrapper {
    width: 90%;
    left: 5%;
    top: 12.5%;
    z-index: 5;
  }

  .modal-wrapper .create-modal {
    height: 500px;
  }

  .create-modal .create-form {
    width: 75%;
    height: 450px;
    display: flex;
    flex-direction: column;
  }

  .create-modal h2 {
    font-size: 24px;
    margin-top: 0.75em;
  }

  .create-form label {
    font-size: 18px !important;
  }

  .create-form input,
  .create-form textarea {
    width: 95%;
  }

  .create-form textarea {
    height: 125px;
  }

  .create-form button[type='submit'] {
    font-weight: 400;
    width: 50%;
    padding: 0.5em;
    align-self: flex-end;
    margin: auto 0 1em 0;
    background-color: var(--primary-color);
  }
}
