.navbar,
.navbar ul,
.navbar .start,
.navbar button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  top: 0;
  width: 100%;
  padding: 10px;
  position: fixed;
  box-sizing: border-box;
  background-color: var(--bg-color);
  z-index: 9;
}

.navbar ul {
  width: 100%;
  list-style: none;
}

.start-menu {
  top: 65px;
  left: -250px;
  width: 250px;
  height: calc(100% - 65px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 10;
  background-color: var(--bg-color);
  transition: left 300ms ease-in-out;
}

.start-menu .navlink,
.end-menu .navlink {
  margin: 0 12px 0 12px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.start-menu .navlink:hover,
.end-menu .navlink:hover,
.start-menu .current {
  background-color: var(--button-bg-hover-color);
  transition: background-color 200ms ease-in-out;
}

.start-menu .current:hover {
  background-color: #6c23ff;
  transition: background-color 200ms ease-in-out;
}

.start-menu hr {
  width: 240px;
  height: 1px;
  margin: 12px 0 12px 0;
  border: none;
  background-color: #3c3c3c;
}

.start-menu ul {
  margin-bottom: 24px;
}

.info hr {
  margin: 4px 0 4px 0;
}

.start-menu .icon,
.end-menu .icon {
  margin-right: 24px;
  font-size: 24px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.start-menu .info {
  height: 175px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info p {
  margin-left: 12px;
  line-height: 1.5;
}

.info a {
  color: var(--hyperlink-color);
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.menu-open {
  left: 0;
}

.navbar .end {
  margin-left: auto;
}

.navbar .logo {
  width: 125px;
  margin-left: 12px;
}

.navbar button {
  padding: 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.navbar button svg {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.navbar button:hover {
  background-color: var(--button-bg-hover-color);
  transition: background-color 200ms ease-in-out;
}

.navbar .profile {
  color: #fff;
  transform: scale(1.4);
}

.end-menu {
  right: 40px;
  width: 250px;
  height: 170px;
  border-radius: 24px;
  display: none;
  z-index: 10;
  opacity: 0;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--card-bg-color);
}

.end-menu .navlink {
  width: 200px;
  display: none;
}

.end-menu p {
  margin: 18px 0 18px 24px;
  font-size: 18px;
}

.settings-open {
  top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.settings-open .navlink {
  display: flex;
}

@media (max-width: 767px) {
  .navbar {
    border-bottom: 1px solid #3c3c3c;
  }

  .overlay {
    top: 65px;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 6;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.75);
    transition: backdrop-filter 400ms ease-in-out;
  }

  .start-menu ul {
    margin-top: -12px;
  }

  .end-menu .navlink {
    width: 125px;
  }

  .end-menu {
    width: 175px;
    height: 170px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .start-menu .info {
    margin-bottom: 24px;
  }
}
