:root {
  /* dark theme variables */
  --primary-color: #6020dd;
  --bg-color: #0a0806;
  --card-bg-color: #161413;
  --input-bg-color: #37332f;
  --hyperlink-color: #723cdf;
  --button-bg-hover-color: #43169c;

  font-family: 'Gantari', sans-serif;
  color-scheme: light dark;

  color: rgba(255, 255, 255, 0.85);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #43169c;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #201339;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #43169c var(--bg-color);
}
